.texto{
	font-size:16pt;
	font-weight: bold;
	color: #ec5e0c;
}

.boton{
	font-size:10pt;
	font-weight: bold;
	color: white;
	background: #ec5e0c;
	border-radius: 7px;	
}

.encabezado_01{
	color: white;
	font-size: 30px;
	font-weight: bold;
	font-family: broadway;
	background: #ec5e0c;
	width: 80%;
	border-radius: 15px;
}

.encabezado_02{
	max-width:100px;
	background:url(../images/h1-wood.png) top center no-repeat;
	background-size:contain;
	height:50px;
	margin:-30px auto 0px;
	font-family: 'curse_casual_jveregular';
	text-transform:uppercase;
	color:#fff7e0;
	font-size:20px;
	font-weight:100;
	letter-spacing:0.05em;
	text-align:center;
	padding-top:17px;
	text-shadow: 0 1px 0 #744109 , 0 2px 0 #744109 , 0 3px 0 #744109, 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902);
	position:relative;
	z-index:99;
}

.subtitulo{
	color: white;
	font-size:20pt;
	background:orange;
	width: 15cm;
	border-radius: 5px;
	font-weight: bold; 
}

.boton_01{
	color: white;
	font-size:14pt;
	font-weight: bold;
	font-family: broadway;
	background: #ec5e0c;
	width: 200px;
	height: 50px;
	border-radius: 15px;
}

.boton_01:hover{
	color: #ec5e0c;
	background: white;
}

.tabla{
	background="video-bg.jpg;
	width: 80%;
	border: 5
	border-color: #FFD700:
}

.Background{
 background-position:center; 
 background-repeat:no-repeat; 
 background-attachment:fixed;
 backface-visibility: visible;
 background:url(.../imagenes/h1-parallax.png) top center no-repeat;
}

.title{
	max-width:281px;
	background:url(../images/h1-wood.png) top center no-repeat;
	background-size:contain;
	height:61px;
	margin:-30px auto 0px;
	font-family: 'curse_casual_jveregular';
	text-transform:uppercase;
	color:#fff7e0;
	font-size:38px;
	font-weight:100;
	letter-spacing:0.05em;
	text-align:center;
	padding-top:17px;
	text-shadow: 0 1px 0 #744109 , 0 2px 0 #744109 , 0 3px 0 #744109, 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902);
	position:relative;
	z-index:99;
	}

	.texto_2{
		font-size:16pt;
		font-weight: bold;
		color: #ffffff;
	}

	.campo{
		font-size:16pt;
		font-weight: bold;
		color: white;
		background: #ec5e0c;
		text-align:center;
		border-radius: 7px;
	}
